.DS_Store
._.DS_Store
.idea
.sublime-grunt.cache
node_modules
bower_components
dist
.tmp
*.log
*.css
web/report
build
web/specs.html
web/loginapp/node_modules
*.orig
api/.vs
api/packages
api/api/bin
api/api/obj
api/api.core/bin
api/api.core/obj
packages
.vs